.message {
  display: flex;
  align-items: center;
  position: relative;
  width: fit-content;
  justify-content: space-between;
  margin: 15px;  
}

.message-sender {
   margin-left: auto;
}

.message-text {
    background-color: #f3f3f5;
    font-size: medium;
    padding: 15px;
    border-radius: 20px;
    margin: 10px;
    margin-right: auto;    
}

.message-sender-text {
  background-color: #3cabfa;
  color: white;
}

.message-ts {
    color: gray;
    position: absolute;
    font-size: 10px;
    bottom: -10px;
    right: 0;
    white-space: nowrap;
}

.message-photo {
  order: 0;
}

.message-sender-photo {
  order: 1;
  margin: 15px;
}